{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/regi.css') }}">
{% endblock %}

{% block body %}
<div class="auth-wrapper">
         <div class="illustration">
            <img src="{{ asset('images/reg.png') }}" alt="Medical illustration">
        </div>
    <!-- RIGHT PANEL -->
    <div class="auth-right">
        <div class="form-card">
            <h2>Create Account</h2>

            <div class="divider">OR</div>

            {{ form_start(form, {'attr': {'class': 'auth-form'}}) }}

                <div class="form-row">
                    {{ form_widget(form.nom, {'attr': {'placeholder': 'Last name'}}) }}
                </div>

                <div class="form-row">
                    {{ form_widget(form.prenom, {'attr': {'placeholder': 'First name'}}) }}
                </div>

                <div class="form-row">
                    {{ form_widget(form.email, {'attr': {'placeholder': 'Email address'}}) }}
                </div>

                <div class="form-row">
                    {{ form_widget(form.password, {'attr': {'placeholder': 'Password'}}) }}
                </div>

                <div class="form-row">
                    {{ form_widget(form.tel, {'attr': {'placeholder': 'Phone number'}}) }}
                </div>

                <button type="submit" class="btn-primary">
                    Create Account
                </button>

            {{ form_end(form) }}

            <p class="login-link">
                Already have an account?
                <a href="{{ path('app_login') }}">Log in</a>
            </p>
        </div>
    </div>

</div>
{% endblock %}
